body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    display: flex;
}

header > * {
    background-color: #3CB371;
    color: white;
    height: 100px;
    width: 40%;
}

header:last-child {
    width: 20%;
}

.day {
    background-color: #FFDAB9;
    width: 170px;
    height: 90px;
    margin: 5px;
    border: 1px solid #3CB371;
}

footer {
    background-color: #3CB371;
    color: white;
}

h6 {
    text-align: right;
}

form {
    padding: 30px;
}

main {
    display: flex;
    flex-wrap: wrap;
}